div.Presentacion {
    float: center;
    width: 70%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
  }
  
  div.Presentacion img.izquierda {
    display:block;
    margin:auto;
    float: center;
    width: 500px;
  }

  div.Historia {
    float: center;
    width: 70%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
  }